{% extends "layout.html" %}

{% block main_content %}
<title>Müşteri Ekle</title>
<div class = "container" >
<h3 >Müşteri Ekle</h3><hr>
<form method = "post" action = "/add-customer/">
{% csrf_token %}
<div class="mb-3 w-25">
  <label for="exampleFormControlInput1" class="form-label">Ad-Soyad</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" name = "name" placeholder="Ad-Soyad" required>
  <label for="exampleFormControlInput1" class="form-label mt-2" >Telefon</label>
  <input type="text" class = "form-control" name="phone" placeholder="Telefon" required>
</div>
<h4>Çerçeve Bilgileri</h4> <hr>

<div class = "mt-3"><label class="form-label form-label-lg" for="form8Example1">Marka</label></div> 
<select name="frame_brand" class = "form-control w-50" id="travel_arriveVia" onchange="showfield(this.options[this.selectedIndex].value)" required>
  <option selected>Markalar</option>
  <option value="Osse">Osse</option>
  <option value="Rayban">Ray-Ban</option>
  <option value="Hawk">Hawk</option>
  <option value="Mustang">Mustang</option>
  <option value="Vogue">Vogue</option>
  <option value="De Valentini">De Valentini</option>
  <option value="Lykos">Lykos</option>
  <option value="Benx">Benx</option>
  <option value="Safari">Safari</option>
  <option value="Other">Diğer</option>

</select>
<div id="div1"></div>
 

<div class = "mt-3"><label for="exampleFormControlInput1 mt-2" class="form-label">Model</label></div> 

<select class="form-select form-control w-50" aria-label="Default select example"  name = "frame_model">
  <option selected>Model</option>
  <option value="Optik">Optik</option>
  <option value="Güneş">Güneş</option>
</select>

<div class="mb-3 w-50 mt-3">

  <label for="exampleFormControlInput1" class="form-label">Seri Numarası</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seri Numarası" name = "frame_serial">
</div>

<label for="exampleFormControlInput1" class="form-label">Fiyat/Alınan</label>
<div class="input-group mt-1 w-50">
  <input type="number" step = "any"  class="form-control" name = "frame_price" placeholder="Fiyat">
  <input type="number" step = "any"  class="form-control" name = "frame_income" placeholder="Alınan">
  <select class="form-select" aria-label="Default select example" name = "frame_payment_method">
  <option selected>Ödeme Yöntemi</option>
  <option value="Nakit">Nakit</option>
  <option value="Kart">Kart</option>
</select>
</div>

<h4 class = "mt-3">Cam Bilgileri</h4> <hr>


<div class="mb-3 w-50 mt-3">

  <label for="exampleFormControlInput1" class="form-label" placeholder="Marka/Model">Marka/Model</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seri Numarası" name = "lens_brand">
</div>

<!-- Table Section-->
<div class = "w-50 mt-3">

<h4>Uzak Gözlük</h4>

    <table class="table table-bordered mt-3">
  <thead>
    <tr class = "table table-secondary">
      <th scope="col"></th>
      <th scope="col">Sferik</th>
      <th scope="col">Silindir</th>
      <th scope="col">Aks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sağ</th>
      <td> <input type="number"  step = "any"  aria-label="First name" class="form-control" name = "r_sf" ></td>
      <td> <input type="number"  step = "any" aria-label="First name" class="form-control" name = "r_si"></td>
      <td> <input type="number"  step = "any" aria-label="First name" class="form-control" name = "r_aks"></td>
    </tr>
    <tr>
      <th scope="row">Sol</th>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "l_sf"></td>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "l_si"></td>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "l_aks"></td>
    </tr>
    
  </tbody>
</table>

    <h4>Yakın Gözlük</h4>


    <table class="table table-bordered mt-3">
  <thead>
    <tr class = "table table-secondary">
      <th scope="col"></th>
      <th scope="col">Sferik</th>
      <th scope="col">Silindir</th>
      <th scope="col">Aks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sağ</th>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "ry_sf"></td>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "ry_si"></td>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "ry_aks"></td>
    </tr>
    <tr>
      <th scope="row">Sol</th>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "ly_sf"></td>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "ly_si"></td>
      <td> <input type="number" step = "any" aria-label="First name" class="form-control" name = "ly_aks"></td>
    </tr>
    
  </tbody>
</table>
</div>
<!-- /Table Section-->

<label for="exampleFormControlInput1" class="form-label">Fiyat/Alınan</label>
<div class="input-group mt-1 w-50">
  <input type="number"  step = "any" aria-label="First name" class="form-control" name = "lens_price" placeholder="Fiyat">
  <input type="number"  step = "any" aria-label="Last name" class="form-control" name = "lens_income" placeholder="Alınan">
  <select class="form-select" aria-label="Default select example" name ="lens_payment_method">
  <option selected>Ödeme Yöntemi</option>
  <option value="Nakit">Nakit</option>
  <option value="Kart">Kart</option>
</select>
</div>



</div>

<div style = "height:200px;">
    <div class = "container">
    <button type ="submit" class = "btn btn-warning mt-5 w-50">Kaydet <i class="bi bi-save2-fill"></i></button>
    </div>
</div>
</form>

{% endblock main_content %}