<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm{{customer.id}}">
<i class="bi bi-trash-fill"></i> Sil
</button>

<!-- Modal -->
<div class="modal fade" id="confirm{{customer.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5><i class="bi bi-exclamation-triangle-fill"></i> Onay</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
      </div>
      <div class="modal-body">
        {{customer.name}} isimli müşteri kalıcı olarak silinecektir.<br>Onaylıyor musunuz?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
        <a href="/delete-customer/{{customer.id}}/" class = "btn btn-danger"><i class="bi bi-trash-fill"></i> Sil</a>
      </div>
    </div>
  </div>
</div>