<div class="height d-flex justify-content-center align-items-center">

    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#cf{{customer.id}}" style = "color:black;">
     {{customer.frame_brand}}
    </button>

    
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="cf{{customer.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header float-right">
        <h5>Çerçeve Detayları</h5>
        <div class="text-right">
          <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
        </div>
      </div>
      <div class="modal-body">
          


        <div>
          
          <table class="table table-striped">
  <thead>
    <tr class = "table-secondary">
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Seri Numarası</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{customer.frame_brand}}</td>
      <td>{{customer.frame_model}}</td>
      <td>{{customer.frame_serial}}</td>
    </tr>
    
    
  </tbody>

</table>
  <h5>Fiyat Bilgisi</h5>
  <hr>

          <table class="table table-striped">
  <thead>
    <tr class = "table-secondary">
      <th scope="col">Fiyat</th>
      <th scope="col">Alınan</th>
      <th scope="col">Kalan</th>
      <th scope="col">Ödeme Yöntemi</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{customer.frame_price}}</td>
      <td>{{customer.frame_income}}</td>
      <td>{{customer.frame_remain}}</td>
      <td>{{customer.frame_payment_method}}</td>
   
    </tr>
    
    
  </tbody>
</table>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>